.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.header__content {
  box-sizing: border-box; /* 보더 기준으로 max-width해서 라인 딱 맞게*/
  width: 100%;
  max-width: 975px;
  padding: 0 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin-top: 5px;
}

.header__search {
  width: 216px;
  height: 28px;
  display: none;
  align-items: center;
  position: relative;
}
/* 검색 아이콘 투입 */
.header__search img {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 8px;
  left: 8px;
}
/* 검색창 양식 */
.header__search input {
  width: 100%;
  padding: 4px 10px 4px 28px;
  border: 1px solid var(--border);
  outline: none;
  border-radius: 4px;
  background-color: var(--secondary);
  font-size: 12px;
  font-weight: 300;
  color: var(--text-light);
  text-overflow: hidden;
  white-space: nowrap;
}
.header__search input:focus {
  color: var(--text-dark);
}
/* 화면 작으면 숨기기 */
@media (min-width: 768px) {
  .header__search {
    display: flex;
  }
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* 프로필 */
.profile__picture {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

/* dark mode */
.header__theme-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header__theme-button-sun {
  display: none;
}
.header__theme-button-moon {
  display: unset; /* 디스플레이 속성 초기화 */
}
:root.darkTheme .header__theme-button-sun {
  display: unset; /* 디스플레이 속성 초기화 */
}
:root.darkTheme .header__theme-button-moon {
  display: none;
}
