#export-btn {
  color: white;
  background-color: green;
  padding: 10px;
}

#spreadsheet-container {
  display: flex;
  flex-direction: column;
}

.cell-row {
  display: flex;
  flex-direction: row;
}
.cell {
  padding: 10px 20px;
  border: 2px solid black;
}
.cell:focus {
}
.cell.header {
}
.cell.header.active {
}
