#export-btn {
  color: white;
  background-color: green;
  padding: 10px;
}

#spreadsheet-container {
  display: flex;
  flex-direction: column;
}

.cell-row {
  display: flex;
  flex-direction: row;
}
.cell {
  width: 50px;
  height: 30px;
  border: 1px solid black;
  text-align: center;
}
.cell:focus {
  background-color: #ddd;
}
.cell.header {
  background-color: gray;
  color: white;
}
.cell.header.active {
  background-color: lightblue;
}
