body,
h1,
h2,
ul,
p {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #222;
}

.wrapper {
  /* background-color: white; */
  width: 960px;
  margin: 0 auto;
}
.wrapper::after {
  content: "";
  display: block;
  clear: both;
}

.section {
  /* width: 300px; */
  width: 800px;
  color: yellow;
  padding: 30px;
  /* padding: 10px; */
  margin: 20px 0;
  text-align: right;
  /* 넘친 요소 숨기기 */
  overflow: hidden;
  /* float: left; */
}

.section:nth-child(even) {
  text-align: left;
}
.section:nth-child(even) .section-cover {
  float: right;
}
.section:nth-child(even) h2 span {
  float: right;
}

.section.blue {
  background-color: blue;
}

.section.red {
  background-color: red;
}

.section.yellow {
  background-color: yellow;
  color: orangered;
}

.section::after {
  /* float 대상으로 억지로 높이 조정하면 안됨 -> 경계선 만들기 */
  content: "";
  display: block;
  clear: both;
}

.section h2 {
  /* background-color: antiquewhite; */
  line-height: 1;
  font-family: "DM Serif Text", serif;
  font-size: 80px;
  margin-bottom: 30px;
  display: inline-block;
}

.section h2 span {
  /* 부모의 절반 크기 */
  font-size: 0.5em;
  float: left;
  margin: 0 0.3em;
  opacity: 0.5;
}

.section h2 span::after {
  content: "kcal";
  font-size: 0.5em;
}

.section-cover {
  float: left;
  width: 200px;
  /* 네거티브 마진: 요소 넘침 */
  margin: 0 -60px;
  transition: margin 0.5s;
}

.section p {
  /* 네거티브 마진으로 틀어진 p 위치 재조정 */
  width: 500px;
  margin-left: auto; /* 우측으로 몰기 */
}

.section:nth-child(even) p {
  margin-left: 0;
}

/* 마우스 호버 애니메이션 */
.section:hover .section-cover {
  margin: 0;
}

/* .clear {
  background-color: red;
  clear: left;
} */
