body {
  background-color: orange;
  background-image: url(GsqiMw0XsAAoqjX.jpg);
}

.container {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* height: 50vh; 눂이는 고정값 쓰지 않는 편이 좋음 */
  background-color: white;
  width: 500px;
  padding: 30px 50px;
  margin: 50px auto;

  /* border-width: 10px;
  border-style: solid;
  border-color: orange; */
  border-top: 50px solid orange;
  border-bottom: 50px solid orange;
  border-radius: 50px;

  /* 가운데 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container img {
  width: 100%;
  height: auto;
  display: block;
  box-sizing: border-box;
}

h1 {
  color: orange;
  /* background-color: antiquewhite; */
  border-bottom: 5px solid orange;
  width: 105px;
  margin: 30px auto; /* 좌우 오토로 가운데 정렬 */
}

/* 백그라운드 컬러로 속성의 영역 빠르게 확인 가능 */
ul {
  background-color: antiquewhite;
  width: 100px;
  margin: 30px auto;
  padding-top: 30px;
  padding-bottom: 40px;
}
