body,
h1,
h2,
ul,
p {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  background-attachment: fixed; /* 스크롤 영향 없음 */
  background-size: cover; /* 꽉 채우기 */
  background-position: center;
  background-image: linear-gradient(rgb(240, 191, 76), rgb(232, 243, 172));
  background-repeat: no-repeat;
  padding: 80px 200px;
}

/* 토스트 메시지 */
.toast {
  background-color: greenyellow;
  margin: 0 auto;
  padding: 10px 0;
  width: 500px;
  text-align: center;
}

/* 타이틀 */
.title {
  padding: 30px;
}

/* 컨테이너 */
.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border: 1px solid black;
}

/* 작성폼 */
.writing {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  gap: 1rem; /* 자식 요소 간격 */
}

.writing__title {
  padding-bottom: 10px;
}

.writing__todo,
.writing__spending {
  flex: 1; /* 균일 분배 */
}

.writing__todo input,
.writing__spending input {
  width: 100%;
}

.writing__todo {
  margin-right: auto;
}

.writing__spending {
  margin-right: auto;
}

.write-btn {
  width: 150px;
}

/* 간격 */
.margin-only {
  margin: 10px 0;
}

/* 목록 */
.lists {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.list {
  display: grid;
  grid-template-columns: 6fr 5fr 30px 30px;
  align-items: center;
  border: 1px solid black;
  padding: 10px 15px;
  margin-bottom: 10px;
}

.list-btn {
  background: none; /* 배경색 제거 */
  border: none; /* 테두리 제거 */
  padding: 0; /* 내부 여백 제거 */
  cursor: pointer; /* 마우스 커서를 손가락 모양으로 변경 */
  margin-right: 5px;
}

.list-btn img {
  display: block;
  width: 100%;
  height: auto;
}

.delete-btn {
  width: 150px;
}

/* 지출 */
footer {
  position: relative;
}

.result {
  padding: 10px;
  position: absolute;
  right: 0;
  font-size: 18pt;
}

@media screen and (min-width: 1180px) {
  body {
    padding: 20px 100px;
  }
}
