#export-btn {
  color: white;
  background-color: green;
  /* width: 130px;
  height: 60px; */
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
}

#spreadsheet-container {
  display: flex;
  flex-direction: column;
}

.cell-row {
  display: flex;
  flex-direction: row;
}
.cell {
  padding: 10px;
  border: 1px solid gray;
  text-align: center;
  width: 80px;
  height: 40px;
  outline: none;
  box-sizing: border-box;
}
.cell:focus {
  background: #ddd;
  border: 3px solid lightblue;
}
