body,
h1,
h2,
ul,
p {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  /* 색상 상속받고 밑줄 지우기 */
  color: inherit;
  text-decoration: none;
}

body {
  background-image: url(img/shock-shocker.gif);
}

.wrapper {
  /* 세로로 이어지는 이미지 써서 길어지는 것처럼 트릭 */
  background-image: url(img/339875_finger_fuck_gesture_middle_icon.png);
  background-position: center;
  background-color: #999;
  width: 800px;
  margin: 0 auto 100px;
}

.header {
  text-align: center;
}

.logo {
  background-image: url(img/GsqiMw0XsAAoqjX.jpg);
  display: inline-block;
  width: 450px;
  height: 140px;
  text-indent: -9999px; /* IR 기법, 좀 구식 */
  margin: 20px 0;
}

.menu {
  /* background-color: orange; */
  width: 300px;
  margin: 30px auto;
  color: #ddd;
}

.menu li {
  margin-bottom: 5px;
}

.menu li a {
  /* 클릭 범위 만들기: 기준을 블럭으로 */
  display: block;
  border: 3px solid; /* 부모 색상 상속 */
  padding: 6px 0;
}

.menu li a:hover {
  color: orange;
}

.section {
  background-image: url(img/8708782_emoji_cry_laugh_smile_happy_icon.png);
  background-color: #70410d;
  margin: 50px 0;
  padding: 30px;
  border: 10px solid #3f2217;
  color: rgb(31, 167, 27);
  border-radius: 10px;
  /* 그림자: x축 그림자 위치(안쪽 inset), y축 ~, 블러 강도, 크기, 색상. 중첩 가능 */
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.6);
}

.section h2 {
  margin-bottom: 20px;
}

.footer {
  background-color: #70410d;
  color: white;
  text-align: center;
  border-bottom: 10px solid rgba(0, 0, 0, 0.4); /* 바닥 조금 어둡게 */
  border-radius: 10px;
  overflow: hidden; /* 가상 요소도 부모 뒤로 보내기 */
}

/* 가상 요소: 없는 걸 있는 것처럼 속이기 */
.footer::before {
  content: ""; /* 컨텐츠를 넣어야 공간 생성 */
  background-color: #70410d;
  background-image: url(img/3561839_emoji_emoticon_silly_icon.png);
  background-repeat: no-repeat;
  display: block;
  height: 50px;
}

.footer p {
  padding: 10px 0;
}
